body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description {
    padding-top: 50px ;
    position: absolute;
    color: yellow;
    font-size: 20px;
    margin-left: auto; 
    margin-right: auto;
    left: 0; 
    right: 0;
}



.biglogo {
    width: 600px;
}

.blackscreen {
    width: 650px;

}

.gameovermessage {
    position: absolute;
    text-align: center;
    margin-top: 50px;
    left: 200px;
    width: 25em;
}

#press-enter {
    display: "none";
    position: absolute;
    width: 20%;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    left: 0; 
    right: 0;
}

#overpress {
    position:relative;
    margin-left: 300px;
    width: 200px;
    bottom: 150px
}

#score {
    bottom: 180px;
    right: 0px;
    font-family: bit;
    font-weight: normal;
    position: relative;
    color: yellow;
    font-size: 50px;
}

#game-over {
    display: none;
}

@font-face {
    font-family: 'bit';
    src: url(Fonts/bit.ttf);
    font-style: normal;
    font-weight: 100;
}

#game-over {
    position: fixed;
    text-align: center;
    padding-top: 5%;
    width: 800px;
    height: 50vh;
}


#start-menu {
    position: absolute; 
    text-align: center;
    padding-top: 5%;
    width: 800px;
    height: 500px;;
    height: 50vh;
    font-family: bit;
}

@media (max-width: 500px) {
    #game-over {
        position: fixed;
        margin-left: auto; 
        margin-right: auto;
        left: 0;
        right: 0;
    }
}